.value-port-container {
    background-color: rgba(63,63,63,0.8039216);
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 0;
    
}
.value-port-container .value-port-container-element {
    align-self: center;
    flex-grow: 1;
    flex-shrink: 0;
}